<form id="comment-form" method="post" enctype="multipart/form-data" class="comment-form border p-4 bg-white shadow-sm rounded">
    {% csrf_token %}
    <div id="reply-notice" style="display: none;"></div>
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="mb-3">
        {{ form.user_name.label_tag }}
        {{ form.user_name }}
        {{ form.user_name.errors }}
    </div>

    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div class="mb-3">
        {{ form.home_page.label_tag }}
        {{ form.home_page }}
        {{ form.home_page.errors }}
    </div>

    <div class="mb-3">
        {{ form.text.label_tag }}
        <div class="mb-2">
            <div class="btn-group btn-group-sm mb-2" role="group">
                <button type="button" class="btn btn-outline-secondary" onclick="wrapTag('i')"><i>i</i></button>
                <button type="button" class="btn btn-outline-secondary" onclick="wrapTag('strong')">
                    <strong>bold</strong></button>
                <button type="button" class="btn btn-outline-secondary" onclick="wrapTag('code')">
                    <code>&lt;code&gt;</code></button>
                <button type="button" class="btn btn-outline-secondary" onclick="insertLink()">a</button>
            </div>
        </div>
        {{ form.text }}
        {{ form.text.errors }}
    </div>

    <div class="mb-3">
        <label for="id_files" class="form-label">Файлы</label>
        <input type="file" name="files" id="id_files" multiple class="form-control" accept=".jpg,.jpeg,.png,.gif,.txt">
        <div class="text-danger" id="file-errors"></div>
    </div>


    <div class="mb-3">
        {{ form.captcha.label_tag }}
        <div class="mb-2">{{ form.captcha }}</div>
        {{ form.captcha.errors }}
    </div>

    {{ form.parent_id }} {# hidden #}

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>